.Car {
    box-shadow: 0 4px 5px rgba(0,0,0,0.14);
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.Car:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 5px rgba(0,0,0, .5);
}
.input:active {
    outline: none;
}
.input.green {
    border: 2px solid green;
}
.input.red {
    border: 2px solid red;
}
.input.bold {
    font-weight: bold;
}